.bi {
    color: black;
    font-size: x-large;
}
.headshot {
    height: 150px;
    max-width: 150px;
    object-fit: cover;
}
.icon {
    height: 150px;
    max-width: 150px;
    object-fit: scale-down;
}
